html,body{
	margin:0;
	padding:0;
	height: 100%;
	font-family: "黑体";
	background-color: #f2f1f1;
}
h1,h2,h3,h4,h5,h6,ul,ol,li,img,p{
	margin:0;
	padding:0;
}
ol,ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	width:100%;
	display:block;
}
.bar-header{
	background-color: #0f2030;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.has-header {
	margin-bottom: 50px;
}
.center{
	text-align: center;
}
