<div class="pay">
	<ion-header-bar align-title="center">
		<i class="button button-clear button-light icon ion-chevron-left" ui-sref="payOrder"></i>
		<h1 class="title light">微信支付</h1>
	</ion-header-bar>

	<ion-content class="item-text-wrap">
		<div class="row box">
			<div class="col col-30"></div>
			<div class="col col-40">
				<img class="full-image" src="./images/icons/zhifuchenggong_icon@3x.png"/>
			</div>
			<div class="col col-30"></div>
		</div>
		<h3 class="center">支付成功</h3>
		<div class="padding">
			<div class="box1">
				<p>送货信息</p>
				<p>我们将尽快安排发货，请买家保持手机通讯畅通，以便快递哥哥第一时间联系您。</p>
					<div class="row">
						<div class="col col-10"></div>
						<div class="col col-40">
							
							<button class="button button-outline button-assertive center" ui-sref="footer.productList">继续购物</button>
						</div>
						<div class="col col-10"></div>
						<div class="col col-40">
							<button class="button button-outline button-dark center" >查看订单</button>
						</div>
					</div>

			</div>
			<div class="padding">
				<p>
						<i class="icon ion-information-circled"></i>
						安全提示：千纸鹤不会以任何理由要求您提供银行卡信息或支付额外费用，请谨防钓鱼链接或诈骗电话。
					</p>
			</div>
			
		</div>
		
	</ion-content>
</div>