<ion-modal-view style=" background:rgba(0,0,0,0); ">
	<div style="width: 200px; margin: 0 auto; padding-top: 200px;">
		<ion-item ng-click="close()" style="text-align: center;">修改头像</ion-item>
		<ion-item ng-click="close()">
			<i class="icon ion-android-image"></i>
			从图库选择
		</ion-item>
		<ion-item class=" icon-icon-left" ng-click="close()">
			<i class="icon ion-ios-camera"></i>
			<input style="border-style: none; width: 50px" value="拍照" />
		</ion-item>
		<ion-item class=" icon-icon-left" ng-click="close()">
			<i class="icon ion-close"></i>
			取消
		</ion-item>
	</div>
</ion-modal-view>