.shoppingCart .bar .button.button-clear{
	padding-right: 10px
}
.shoppingCart .box{
	height: 40px;
	line-height: 40px;
}
.shoppingCart .sp{
	margin: 0 5px;
}
.shoppingCart .font{
	font-size: 18px;
}
.shoppingCart .f{
	width: 18px;
	height: 18px;
 	background-color: #b9b7b7;
 	text-align: center;
}
.shoppingCart .bj{
	background-color: #fff;
}
.shoppingCart .chec{
	position: relative;
    width: 28px;
    height: 28px;
	top: 35px;
}
.shoppingCart .che{
	position: relative;
    width: 28px;
    height: 28px;
	top: -3px;
}
.shoppingCart .item-top{
	margin-top: 10px;
}
.shoppingCart .input{
	border-style: none;
}
.shoppingCart .sum{
	border-style: none;
	width: 50px
}
.shoppingCart .closing{
	margin-left: 10px;
}