<div class="shoppingCart">
	<ion-header-bar class="item-input-inset">
		<i class="button button-clear icon ion-chevron-left button-light"></i>
		<label class="item-input-wrapper">
		<input placeholder="想买什么？" type="text" name=""/>
		</label>
		<i class="button button-clear icon ion-chatbox-working button-light"></i>
	</ion-header-bar>
	<ion-content>
		<div ng-repeat="item in data track by $index">
			<div class="box">
				<span class="sp">{{item.name}}</span> <span class="icon ion-chevron-right"></span><span class="fr sp">领劵 </span><span class="fr sp"> 编辑</span>
			</div>	
			<ion-list>
				<ion-checkbox ng-model="filter"></ion-checkbox>
				<a class="item item-thumbnail-left" >
			      <img ng-src="{{item.img}}"/>
			      <h2>{{item.presentation}}</h2>
			      <h2>{{item.presenta}}</h2>
			      <p class="sp"><span>{{item.size}}</span><span>{{item.color}}</span></p>
			      <p class="sp font"><span class="assertive">{{item.price}}</span><span class="fr f icon ion-android-add"></span><span class="fr f bj">3</span><span class="icon  ion-android-remove f fr"></span></p>
		    	</a>          
			</ion-list>
		</div>
		<div class="item">
			<ion-checkbox ng-click="check()" ng-model="filter">
				全选
				<span class="assertive-bg fr"><span class="light">去结算</span> </span>
				<span class="fr"> 合计:589</span>
			</ion-checkbox>

		</div>
	</ion-content>

</div>