<div class="reply">
	<ion-header-bar align-title="center">
		<i class="button button-clear button-light icon ion-chevron-left" ui-sref="order"></i>
		<h1 class="title light">评价晒单</h1>
		<i class="button button-clear button-light"><span class="assertive">提交</span></i>
	</ion-header-bar>

	<ion-content>
		<ion-list>
			<ion-item class="item-thumbnail-left">
				<img src="./images/Img_gwc_1@3x.png"/>
				<p>评分</p>
				<p>
					<i class="icon assertive ion-android-star-outline"></i>
					<i class="icon assertive ion-android-star-outline"></i>
					<i class="icon assertive ion-android-star-outline"></i>
					<i class="icon assertive ion-android-star-outline"></i>
					<i class="icon assertive ion-android-star-outline"></i>
				</p>
			</ion-item>
			<ion-item >
				<textarea style="min-width:320px" placeholder="评价就有可能领现金卷哦"></textarea>
			</ion-item>
			<ion-item class="item-thumbnail-left">
				<img src="./images/icons/Icon_wddn_qbdd_pjsd_zp@3x.png"/>
			</ion-item>
			<ion-checkbox>匿名评价</ion-checkbox>
		</ion-list>
	</iom-content>
</div>