<div class="logistics">
		<ion-header-bar align-title="center">
		<i class="button button-clear button-light icon ion-chevron-left" ui-sref="order"></i>
		<h1 class="title light">我的物流</h1>
		<i class="button button-clear icon ion-chatbox-working button-light"></i>
	</ion-header-bar>
	<ion-content>
		<ion-item class="item-thumbnail-left">
			<img src="./images/Img_gwc_1@3x.png"/>
			<h3>物流状态 <span class="positive">运输中</span></h3>
		<p>承运公司： <span class="positive">中通快递</span></p>
		<p>运单编号: <span class="positive">0503465</span></p>
		<p>官方电话: <span class="positive">95311</span></p>
		</ion-item>
		<div class="box">
			<div class="box1"></div>
			<div class="box2">
				<img class="full-image" src="./images/icons/Img_wddn_ckwl_2@3x.png"/>
			</div>
		</div>
		<div class="row">
			<div class="col col-25">
				<p>2018-01-01</p>
				<p>2018-01-01</p>
			</div>
			<div class="col col-10 box3">
				<div class="box4"></div>
				<div class="box5"></div>
			</div>
			<div class="col col-65">
				<p>在江西南昌分拨中心进行装车扫描，即将发往阳江分拨中心</p>
			</div>
		</div>
		<div class="row">
			<div class="col col-25">
				<p>2018-01-01</p>
				<p>2018-01-01</p>
			</div>
			<div class="col col-10 box3">
				<div class="box4"></div>
				<div class="box5"></div>
			</div>
			<div class="col col-65">
				<p>在江西南昌分拨中心进行装车扫描，即将发往阳江分拨中心</p>
			</div>
		</div>
		<div class="row">
			<div class="col col-25">
				<p>2018-01-01</p>
				<p>2018-01-01</p>
			</div>
			<div class="col col-10 box3">
				<div class="box4"></div>
				<div class="box5"></div>
			</div>
			<div class="col col-65">
				<p>在江西南昌分拨中心进行装车扫描，即将发往阳江分拨中心</p>
			</div>
		</div>
		<div class="row">
			<div class="col col-25">
				<p>2018-01-01</p>
				<p>2018-01-01</p>
			</div>
			<div class="col col-10 box3">
				<div class="box4"></div>
				
			</div>
			<div class="col col-65">
				<p>在江西南昌分拨中心进行装车扫描，即将发往阳江分拨中心</p>
			</div>
		</div>
	</ion-content>
</div>