.productDatails .tab-item .icon{
	width: 32px;
}
.productDatails .nav{
	margin-top: 10px;
}
.productDatails .foo{
	background-color: #0f2030 !important;
	position: fixed;
    bottom: 0;
    height: 44px;
}
.productDatails .ks{
	height:40px;
	margin: -15px auto;
}
.productDatails .fr{
	font-size: 18px;
	color: #8c8c8c;
}
.productDatails .bar .button.button-clear{
	padding-left: 10px !important;
}

.productDatails .box{
	background-color: #7e6b5a;
	color: #fff;
}
.productDatails .product{
	margin-top: 10px;
}

.productDatails .xiushen{
	border: 1px solid #000;
}
.productDatails .pl{
	margin-top: 10px;
	border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
	border-right: none;
	border-left: none;
}
.productDatails .p{
	border: 1px solid #f00;
	border-radius: 5px;
}

.productDatails .h6{
	font-size:12px;
}
.productDatails .reply{
	border: 1px solid #bfbfbf;
}
.productDatails .imgs{
	width: 20px;
	margin-top: -17px;
	margin-right: 5px;
}
.productDatails .productNav{
	color: #fff;
}
.productDatails .size{
	height: 40px;
	width: 40px;
	border:1px solid #000;
	border-radius: 50%;
}
.productDatails .size1{
	height: 40px;
	width: 40px;
	border:1px solid #000;
	border-radius: 50%;
	background-color: #000;
}
.productDatails .plus{
	width: 20px;
	height: 20px;
	display:inline-block;
	background-color:#444;
	text-align: center;
	line-height: 20px;
}
.productDatails .sum{
	width: 20px;
	height: 20px;
	display:inline-block;
	text-align: center;
}
.productDatails input{
	width: 20px;
	height: 20px;
	display:inline-block;
	text-align: center;
}
