<div class="payOrder">
	<ion-header-bar align-title="center">
		<i class="button button-clear button-light icon ion-chevron-left" ui-sref="productDatails"></i>
		<h1 class="title light">微信支付</h1>
	</ion-header-bar>
	<ion-content>
		<ion-list>
			<ion-item class="item item-thumbnail-left">
				<img src="./images/purchasehistoryl_bg@3x.png"/>
				<p>编号：5053</p>
				<p>颜色：青黑色</p>
				<p>尺寸：S</p>
				<p>件数：1</p>
			</ion-item>
			<ion-item>
				支付金额：
				<span class="assertive">
					￥188:00
				</span>
			</ion-item>
			<ion-item>请选择支付方式</ion-item>
			<ion-radio class="item item-avatar">
				<img src="./images/icons/Icon_zfdd_1@3x.png"/>
				<h3>支付宝支付</h3>
				<p>支付宝安全支付</p>
			</ion-radio>
			<ion-radio class="item item-avatar">
				<img src="./images/icons/Icon_zfdd_2@3x.png"/>
				<h3>微信支付</h3>
				<p>微信安全支付</p>
			</ion-radio>
			<ion-radio class="item item-avatar">
				<img src="./images/icons/Icon_zfdd_3@3x.png"/>
				<h3>工商银行支付</h3>
				<p>工商银行安全支付</p>
			</ion-radio>
			<ion-item class="item item-avatar item-icon-right">
				<img src="./images/icons/Icon_zfdd_4@3x.png"/>
				<i class="icon ion-plus-round"></i>
				添加其他银行卡
			</ion-item>
		</ion-list>
		
	</ion-content>

	<ion-footer-bar  align-title="center" class="foo">
		<h1 class="title light" ui-sref="pay">确认支付</h1>
	</ion-footer-bar>
		
</div>